[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
google-auth = "*"
termcolor = "*"
requests = "*"
google-cloud-pubsub = "*"
google-cloud-storage = "*"
tonyg-rfc3339 = "*"

[requires]
python_version = "3.9"
